---
import Bento from "../components/Bento.astro";
import Footer from "../components/Footer.astro";
import Intro from "../components/Intro.astro";
import PreFooter from "../components/PreFooter.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Premios Astro 2024 - Celebrando lo mejor de la programación web"
  description="Descubre a los mejors programdores de la comunidad. ¡Vota por tus favoritos!"
>
  <Video />
  <main>
    <Intro />
    <Bento />
    <PreFooter />
  </main>
  <Footer />
</Layout>

<style></style>
